*{
    overflow:hidden;
    padding: 0%;
    margin: 0%;
    box-sizing: border-box;
}

.container{
    display: grid;
    grid-template-columns: 1fr 7fr;
    grid-template-rows: 300px 994px
}

.header{
    background-color: #FFFFFF;
    grid-column-start: 2;
    grid-column-end: 4;

}

.sidebar{
    display:grid;
    grid-template-rows: 1fr 3fr 3fr;
    background-color:#1992D4;
    color:#FFFFFF;
    grid-row-start: 1;
    grid-row-end: 3;
    padding: 25px;
    gap: 50px;
}

.main-content{
    background-color:#E2E8F0;
    grid-column-start: 2;
    grid-column-end: 4;
}
   
li{
    display: flex;
    grid-column: 1fr 1fr;
    font-size: 32px;
    color:#FFFFFF;
    padding:15px;
}

img{
    padding-right: 20px;
    height: 30px;
}

h1{
    font-size: 35px;
}


li:hover{
    text-decoration: underline;
    cursor: pointer;

}